*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(217, 217, 217);
    height: 70px;
}
.imgs{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 500px;
}
.a{
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.a a{
    text-decoration: none;
    color: black;
}
.a a:hover{
    color: red;
}
section{
    width: 100%;
}
.sec{
    margin: auto;
    width: 90%;
    margin-top: 100px;
    margin-bottom: 50px;
}
.sec img{
    margin: auto;
    border-radius: 15px;
}
html,
    body {
      position: relative;
      height: 100%;
    }

    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    }

    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

.card .btn{
    margin-left: 70%;
    margin-top: 10%;
}
.card .imgs{
    width: 100%;
    border-radius: 15px;
}
.card{
    width: 23%  ;
    height: 40%;
    border-radius: 15px;
    background-color: white;
    box-shadow: 15px 15px 20px;
    margin: 10px;
    margin-top: 15px;
}
.a img{
    display: none;
}
.text h2{
     color: red;
}
.cards{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
footer{
    display: flex;
    align-items:  center;
    justify-content: space-around;
    height: 70px;
    margin-top: 30px;
}
@media (max-width: 800px){
    .logo{
        display: none;
    }
}
@media(max-width: 520px){
    .a a{
        display: none;
    }
    .a img{
        display: block;
    }
}
@media(max-width: 630px){
    .cards{
        width: 90%;
        flex-wrap: wrap;
    }
    .card{
        width: 40%;
    }
}
@media(max-width: 630px){
    .cards{
        width: 90%;
        flex-wrap: wrap;
    }
    .card{
        width: 50%;
    }
}